[submodule "submodules/TMPE"]
	path = submodules/TMPE
	url = https://github.com/bonsaibauer/TMPE
	branch = master
[submodule "submodules/CSM"]
	path = submodules/CSM
	url = https://github.com/bonsaibauer/CSM
[submodule "submodules/HideCrosswalks"]
	path = submodules/HideCrosswalks
	url = https://github.com/CitiesSkylinesMods/HideCrosswalks.git
